@import './variables';

body {
  font: 100% $font-stack;
  color: $primary-color;
}
h1 {
    font-size: 3em;
}

.intro {
  font-size: 1em;
  color: #333;
  text-indent: 10px;
}

.form-group {
    margin-bottom: 1rem;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}