
<h1 class="" appTitleDefault="2">{{ title }} </h1>

<!-- store values increment and decrement -->
<button (click)="increment()">Increment</button>
<div>Current Count: {{ counter | async }}</div>
<button (click)="decrement()">Decrement</button>
<button (click)="reset()">Reset Counter</button>
        
<p #about></p>

<p [ngClass]="{'intro': true, 'selected': true }">Navigation.</p>

<nav>
    <ul class="nav">
        <li><a routerLink="login" routerLinkActive="active">login</a></li>
        <li><a routerLink="about" routerLinkActive="active">about</a></li>
        <li><a routerLink="contact" routerLinkActive="active">contact</a></li>
        <li><a routerLink="portfolio" routerLinkActive="active">Portfolio</a></li>
        <li><a routerLink="todo" routerLinkActive="active">Todo</a></li>
    </ul>
</nav>

<hr>

<router-outlet></router-outlet>

<hr>