
<h1 class="" appTitleDefault="2">{{ title }} </h1>
 <app-portfolio [hello]="helloValue" [count]="initialCount" (hisay)="sayHi($event)"></app-portfolio>

<button (click)="increment()">Increment</button>
<div>Current Count: {{ counter | async }}</div>
<button (click)="decrement()">Decrement</button>

<button (click)="reset()">Reset Counter</button>
        

<p [ngClass]="{'intro': true, 'selected': true }">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam qui cumque.</p>

<nav>
    <ul>
        <li><a routerLink="login" routerLinkActive="active">login</a></li>
        <li><a routerLink="about" routerLinkActive="active">about</a></li>
        <li><a routerLink="contact" routerLinkActive="active">contact</a></li>
        <li><a routerLink="portfolio" routerLinkActive="active">Portfolio</a></li>
        <li><a routerLink="todo" routerLinkActive="active">Todo</a></li>
    </ul>
</nav>

<hr>

<router-outlet></router-outlet>

<hr>