
:host { color: green; }

:host(.selected) { color: red; }

.active { 
    font-weight: bold;
    font-size: 1em;
    color: #333;
}

.nav {
    list-style: none;
    display: inline;
}
.nav  li {
    display: inline;
    padding-right: 10px;
    border-right: 1px solid gray;
}